<a href="https://colab.research.google.com/github/shireendeshmukh/python/blob/master/wk2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
#import Pandas library
import pandas as pd
#get count of cities user wants to enter
n=int (input("totl entries:"))
print (n)
#delcare blank arrays
city=[]
population=[]
#get city names from user & print city names
for i in range (n):
	x=input	("enter city name: ")
	city.insert	(i,x)
	i=i+1
print (city)
#get city population based on city names & print population
j=0
while j < n:
	y=int (input(print ("For", city[j], "what's population: ")))
	population.insert(j,y)
	j=j+1
print (population)
#insert the arrays into pd series; ensure to add them as list!
city_series = pd.Series(list(city))
population_series=pd.Series(list(population))
#check printing city and their population
print (city_series)
print (population_series)
#print city name and it's population in the format with axis and headers as keys
pd.concat([city_series,population_series], axis=1, keys=['s/n', 'name', 'count'])

totl entries:4
4
enter city name: dallas
enter city name: vegas
enter city name: edison
enter city name: mumbai
['dallas', 'vegas', 'edison', 'mumbai']
For dallas what's population:
None1000
For vegas what's population:
None2000
For edison what's population:
None3000
For mumbai what's population:
None4000
[1000, 2000, 3000, 4000]
0    dallas
1     vegas
2    edison
3    mumbai
dtype: object
0    1000
1    2000
2    3000
3    4000
dtype: int64

      s/n  name
0  dallas  1000
1   vegas  2000
2  edison  3000
3  mumbai  4000

In [24]:
import pandas as pd

city=[]
city=[]

n=int (input("totl entries:"))
print (n)

for i in range (n):
	x=input	("enter city name: ")
	city.insert	(i,x)
	i=i+1
print (city)
serCity = pd.Series(list(city))
print (serCity)

totl entries:3
3
enter city name: qq
enter city name: dd
enter city name: rr
['qq', 'dd', 'rr']
0    qq
1    dd
2    rr
dtype: object

In [14]:
CityName= pd.Series(['Ottawa', 'Toronto', 'Montreal', 'London'])
CityPopulation=pd.Series(['100','200','300','400'])
print (CityName)

0      Ottawa
1     Toronto
2    Montreal
3      London
dtype: object